# Docker compose syntax version
version: "3.9"


services:
  app: # Name of the service
    build:
      context: . # Build dockerfile inside of current directory
    ports: # Maps port 8000 on local machine to port 8000 in docker container
      - "8000:8000"
    volumes: # Method of mapping directories from local machine to container
      - ./app:/app # Mapping the /app directory from local machine to /app directory in container
    command: >
      sc -c "python manage.py runserver 0.0.0.0:8000"
    